/****************************************************
@file        : main.css								*
@author      : Mir Ahmed							*
@description : a css file for the index.html filter *
@date created: 6/22/2016							*
*****************************************************/ 
#wrapper {
	max-width: 940px;
	margin: 0 auto;
	padding: 0 5%;
}

#logo {
	text-align: center;
	margin: 0;
}

/* logo text */
h1, h2 {
	color: white;
}
header {
	background-color: #6ab47b;
	border: 3px solid white;
	border-radius: 10px;
}

a {
	text-decoration: none;
	color: #6ab47b;
}

nav {
	background-color:  #29a329;
	padding: 20px;
	border-radius: 0 0 10px 10px;
}

nav a {
	text-decoration: none;
	color: white;
	float: left;
}

nav li {
	padding-left: 20px;
	float: left;
}

nav a:visited {
	color: yellow;
}

nav a.selected, nav a:hover {
	color: yellow;
	font-weight: bold;
}



/* Site body */ 
body {
	background-color: #fff;
	color: #999;
}

footer {
	color: white;
	font-weight: bold;
}


