/****************************************************
@file        : main.css								*
@author      : Mir Ahmed							*
@description : a css file for the index.html filter *
@date created: 6/22/2016							*
*****************************************************/ 
#wrapper {
	max-width: 940px;
	margin: 0 auto;
	padding: 0 5%;
}

#logo {
	text-align: center;
	margin: 0;
}

/* logo text */
h3, h4 {
	font-family: 'Open Sans', sans-serif;
	color: white;
	font-size: 1.3em;
}
header {
	margin: 0;
	background-color: #5882FA;
	border: 3px solid white;
	border-radius: 10px;
	text-align: center;
	height: 20%;
}

img {
	max-width: 100%;
}

li p {
	text-align: center;
	font-size: 0.75em;
}
/** page portfolio*/
#gallery {
	list-style: none;
	margin: 0;
	padding: 0;
}

#gallery li {
	float: left;
	width: 45%;
	margin: 2.5%;
	background-color: #E1EAED;

}

a {
	text-decoration: none;
	color: #6ab47b;
}

nav {
	background-color:  #3b5998;
	border-radius: 0 0 10px 10px;
	height: 10px;
	padding-bottom: 20px; 
	margin-top: 0;
}

nav a {
	text-decoration: none;
	color: white;
	float: left;
}

nav li {
	padding-left: 20px;
	float: left;
}

nav a:visited {
	color: yellow;
}

nav a.selected, nav a:hover {
	color: yellow;
	font-weight: bold;
}

ul a {
	font-size: 1.3em;
}

ul {
	margin-left: 35%;
}



/* Site body */ 
body {
	background-color: #fff;
	color: #999;
}

footer {
	text-align: center;
	border-radius: 10px;
	font-weight: bold;
	clear: both;
}

.social_icon {
	width: 30px;
	height: 30px;
	margin: 0 5px;
}

/* about page */
.profile_picture{
	max-height: 400px;
	display: block;
	max-width: 400px;
	margin: 10px auto 30px;
	border-radius: 100%;

}

.contact_info {
	text-align: left;
}



